<div class="row">
    <h2 class="col-12 border-dark border-bottom m-1 p-2 text-left ">Ajout d'une tâche</h2>
</div>
<div class="container">
<form (submit)="onSubmit()">
<div class="form-group col-8">
  <label for="title"> Titre</label>
<input id="title" type="text" class="form-control" name="title" [(ngModel)]="data.title" placeholder="Titre de la tâche">
</div>
<div class="form-group col-8">
    <label for="description"> Description</label>
  <input id="description" type="text" class="form-control" name="description" [(ngModel)]="data.description" placeholder="Description de la tâche">
  </div>
  <div class="form-group col-8">
    <label for="affectation">Affectation de la tâche </label>
    <select name="affectation" [(ngModel)]="data.affectation" class="btn btn-outline-secondary">
      <option [value]="user.name" *ngFor="let user of users">{{user.name}}</option>
    </select>
  </div>
  <button class="btn btn-secondary" (click)="goBack()">Retour</button>
  <button type="submit" class="btn btn-success"> Submit </button>
</form>
</div>
