<div class="row">
    <h2 class="col-12 border-dark border-bottom m-1 p-2 text-left ">Liste des utilisateurs</h2>
</div>

<div class="row">
    <div *ngFor="let user of users" class="pb-5">
        <div class="col-8 offset-5 m-5 " id="user">
            <h4 class="m-4">{{user.name}}</h4>
            <p>Date de naissance : {{user.birthDate }}</p>
            <p> Nombre de tâches affectées : {{user.nbTasks}} </p>
        </div>
    </div>
</div>
<div class="col-12 text-left">
        <button class="btn btn-secondary" (click)="goBack()">Retour</button>
        <a class="btn btn-primary" routerLink="/add-user"> Ajouter un utilisateur</a>
</div>

