#resume {
    background-color: antiquewhite;
    width: 500px;
    height: 150px;
    margin: 50px 50px 50px 50px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 4px 4px 4px 4px grey;
    text-align: center;
    padding-top: 50px;
}

.dashBoardCard {
    font-size: 25px;
    font-weight: bold;

}