#resume {
    background-color: #CFD8DC;
    width: 500px;
    height: 150px;
    margin: 50px 50px 50px 50px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 4px #e5e5e5;
    text-align: center;
    padding-top: 50px;
}

#resume a{
    text-decoration: none;
    color:#333;
}

.dashBoardCard {
    font-size: 25px;
    font-weight: bold;

}

.dashBoardCardFinished {
    background-color:#C8E6C9;
    width: 500px;
    height: 150px;
    margin: 50px 50px 50px 50px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 4px #e5e5e5;
    text-align: center;
    padding-top: 50px;
}

#resumeFinished {
    background-color: #C8E6C9;
    width: 500px;
    height: 150px;
    margin: 50px 50px 50px 50px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 4px #e5e5e5;
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
    color: #333;
}

#resumeFinished a{
    text-decoration: none;
    color: #333;
}

#resumeInProgress {
    background-color: #E1F5FE;
    width: 500px;
    height: 150px;
    margin: 50px 50px 50px 50px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 4px #e5e5e5;
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
    color: #333;
}

#resumeInProgress a{
    text-decoration: none;
    color: #333;
}