h2{
    text-align: center;
}

#task{
    text-align: center;
    width: 400px;
    height: 150px;
   
    box-shadow: 4px 4px 4px 4px #e5e5e5;
    border-radius: 2px;
    padding: 8px;
}

.btn-primary {
    margin-left: 15px;
}

.finished{
    background-color: #C8E6C9;
}

.inProgress{
    background-color: #E1F5FE;
}